*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**Geral**/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.caixa01{
    display: flex;
    width: 150px;
    height: 150px;
    border: 2px solid pink;
    background-color: #ffe0e0;
    margin: 10px;
    justify-content: ;
    align-items: ;
}
.caixa02{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    background-color: aliceblue;
}
.caixa03{
    display: flex;
    width: 150px;
    height: 150px;
    border: 2px solid pink;
    background-color: #ffe0e0;
    margin: 10px;
    align-items: center;
}
.caixa04{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    background-color: aliceblue;
}
.caixa05{
    display: flex;
    width: 150px;
    height: 150px;
    border: 2px solid pink;
    background-color: #ffe0e0;
    margin: 10px;   
    align-items: flex-end;
}
.caixa06{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    background-color: aliceblue;
}
.caixa07{
    display: flex;
    width: 150px;
    height: 150px;
    border: 2px solid pink;
    background-color: #ffe0e0;
    margin: 10px;
    justify-content: center;
}
.caixa08{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    background-color: aliceblue;
}
.caixa09{
    display: flex;
    width: 150px;
    height: 150px;
    border: 2px solid pink;
    background-color: #ffe0e0;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
.caixa10{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    background-color: aliceblue;
}
.caixa11{
    display: flex;
    width: 150px;
    height: 150px;
    border: 2px solid pink;
    background-color: #ffe0e0;
    margin: 10px;
    justify-content: center;
    align-items: flex-end;
}
.caixa12{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    background-color: aliceblue;
}
.caixa13{
    display: flex;
    width: 150px;
    height: 150px;
    border: 2px solid pink;
    background-color: #ffe0e0;
    margin: 10px;
    justify-content: flex-end;
}
.caixa14{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    background-color: aliceblue;
}
.caixa15{
    display: flex;
    width: 150px;
    height: 150px;
    border: 2px solid pink;
    background-color: #ffe0e0;
    margin: 10px;
    justify-content: flex-end;
    align-items: center;
}
.caixa16{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    background-color: aliceblue;
}
.caixa17{
    display: flex;
    width: 150px;
    height: 150px;
    border: 2px solid pink;
    background-color: #ffe0e0;
    margin: 10px;
    justify-content: flex-end;
    align-items: flex-end;
}
.caixa18{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    background-color: aliceblue;
}
